<section class="cart-section">
    <div class="cart">
        <span class="close-cart"><i class="fas fa-window-close"></i></span>
        <h2>cart</h2>
        <!-- cart-content -->
        <div class="cart-content">
            {{#each}}
            {{> myPartial}}
            {{/each}}
            <!-- cart-item -->
            {{!-- <div class="cart-item">
                <a href="#{{this.id}}"><img src={{this.image}} alt={{this.title}} /></a>
                <div>
                    <h4> {{this.title}} </h4>
                    <h5> ${{this.price}} </h5>
                    <span class="remove-item">remove</span>
                </div>
                <div>
                    <i class="fas fa-chevron-up" data-id={{this.id}}></i>
                    <p class="item-qty">1</p>
                    <i class="fas fa-chevron-down" data-id={{this.id}}></i>
                </div>
            </div> --}}
            <!-- end cart-item -->
        </div>
        <!-- end cart-content -->
        <!-- cart-footer -->
        <div class="cart-footer">
            <h3>
                total : $
                <span class="cart-total">900.00</span>
            </h3>
            <button class="clear-cart clear-btn">clear cart</button>
        </div>
        <!-- end cart-footer -->
    </div>
</section>